.row1{
    display: grid ;
    grid-template-columns: 60% 10% 10% 10% 10% ;
}
.row2{
    display: grid;
    grid-template-columns:33.33% 33.33% 33.33%  ;   
}

.row2 div{
    padding: 5px;
}
.row2 img{
    border-radius: 10px;
}
 
.row4{
     /* margin-left: 10%;
    margin-right: 10%;  */
}
.absolute{
    color: white;
    position: absolute;
    top:100px ;
    margin-left: 28% ;

}
.absolute p{
    margin-left: 8%;
}
.row5{
    display: grid ;
    grid-template-columns: 70% 20% 10% ;
    margin-left: 100px;
}
.menu1{
    display: grid;
    grid-template-columns: auto auto auto;
    margin-top: 20px;
}
footer{
    /* margin-left: 10%;
    margin-right: 10%; */
    display: flex;
}
.right{
    padding-left: 50px;
}
  body{
    margin:0 7% ; 
} 