.row1{
    display: grid ;
    grid-template-columns: 60% 10% 10% 10% 10% ;
}
.row2{
    display: grid;
    grid-template-columns:33.33% 33.33% 33.33%  ;
}

.row2 div{
    padding: 10px;
}
 .row3{
    display: grid;
    grid-template-columns: auto auto;
    margin-left: 10%;
    margin-right: 10%;
 }
.row4{
    margin-left: 10%;
    margin-right: 10%;
}
.absolute{
    position: absolute;
    top:100px ;
    margin-left: 520px ;
}
.row5{
    display: grid ;
    grid-template-columns: 70% 20% 10% ;
}
.menu1{
    display: grid;
    grid-template-columns: auto auto auto;
    margin-top: 10px;
}
.fvclogo{
    margin-right: 50px;
}