.row1{
    display: grid ;
    grid-template-columns: 60% 10% 10% 10% 10% ;
}
.row2{
    display: grid;
    grid-template-columns:33.33% 33.33% 33.33%  ;
    margin-left: 9.5%;
    margin-right: 9.5%;
}

.row2 div{
    padding: 10px;
}
.row2 img{
    border-radius: 10px;
}
 
.row4{
    margin-left: 10%;
    margin-right: 10%;
}
.absolute{
    position: absolute;
    top:100px ;
    margin-left: 520px ;
}
.row5{
    display: grid ;
    grid-template-columns: 70% 20% 10% ;
    margin-left: 100px;
}
.menu1{
    display: grid;
    grid-template-columns: auto auto auto;
    margin-top: 10px;
}
footer{
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
}
.right{
    padding-left: 50px;
}
